<div class="main">
  <h1>Minha lista de livros favoritos</h1>

  <label for="addBookInput">Qual outro livro quer adicionar?</label>

  <input
    #newTitle
    placeholder="Titulo"
    (keyup.enter)="
      addBook(newTitle.value, newAuthor.value, newLanguage.value);
      newTitle.value = '';
      newAuthor.value = '';
      newLanguage.value = ''
    "
    class="lg-text-input"
    id="addTitleInput"
  />

  <input
    #newAuthor
    placeholder="Author"
    (keyup.enter)="
      addBook(newTitle.value, newAuthor.value, newLanguage.value);
      newTitle.value = '';
      newAuthor.value = '';
      newLanguage.value = ''
    "
    class="lg-text-input"
    id="addAuthorInput"
  />

  <input
    #newLanguage
    placeholder="Lingua"
    (keyup.enter)="
      addBook(newTitle.value, newAuthor.value, newLanguage.value);
      newTitle.value = '';
      newAuthor.value = '';
      newLanguage.value = ''
    "
    class="lg-text-input"
    id="addLanguageInput"
  />

  <button
    class="btn-primary"
    (click)="
      addBook(newTitle.value, newAuthor.value, newLanguage.value);
      newTitle.value = '';
      newAuthor.value = '';
      newLanguage.value = ''
    "
  >
    Adicionar
  </button>

  <h2>
    {{ books.length }}
    <span *ngIf="books.length === 1; else elseBlock">livro</span>
    <ng-template #elseBlock>livros</ng-template>
  </h2>

  <table>
    <tr>
      <th>Titulo</th>
      <th>Author</th>
      <th>Lingua</th>
    </tr>
    <tr *ngFor="let b of books">
      <td>{{ b.title }}</td>
      <td>{{ b.author }}</td>
      <td>{{ b.language }}</td>
      <td><app-book (remove)="remove(b)" [book]="b"></app-book></td>
    </tr>
  </table>
</div>
