<div class="main">
  <h1>Minha lista de livros favoritos</h1>

  <label for="addTitleInput">Qual outro livro quer adicionar?</label>

  <input
    #newTitle
    placeholder="Titulo"
    (keyup.enter)="
      addBook(newTitle.value, newAuthor.value, newLanguage.value);
      newTitle.value = '';
      newAuthor.value = '';
      newLanguage.value = ''
    "
    class="lg-text-input"
    id="addTitleInput"
  />

  <input
    #newAuthor
    placeholder="Author"
    (keyup.enter)="
      addBook(newTitle.value, newAuthor.value, newLanguage.value);
      newTitle.value = '';
      newAuthor.value = '';
      newLanguage.value = ''
    "
    class="lg-text-input"
    id="addAuthorInput"
  />

  <select
    #newLanguage
    placeholder="Lingua"
    (keyup.enter)="
      addBook(newTitle.value, newAuthor.value, newLanguage.value);
      newTitle.value = '';
      newAuthor.value = '';
      newLanguage.value = ''
    "
    class="lg-select"
    id="addLanguageSelect"
  >
    <option *ngFor="let language of languages">{{ language }}</option>
  </select>

  <button
    class="btn-primary"
    (click)="
      addBook(newTitle.value, newAuthor.value, newLanguage.value);
      newTitle.value = '';
      newAuthor.value = '';
      newLanguage.value = ''
    "
  >
    Adicionar
  </button>

  <!-- Filter -->
  <label for="languageFilterSelect">Filtrar por lingua: </label>
  <select id="languageFilterSelect" [(ngModel)]="languageFilter">
    <option *ngFor="let language of languageFilters">{{ language }}</option>
  </select>

  <h2>
    {{ books.length }}
    <span *ngIf="books.length === 1; else elseBlock">livro</span>
    <ng-template #elseBlock>livros</ng-template>
  </h2>

  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Author</th>
        <th>Lingua</th>
        <th>Acções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of books">
        <td>{{ b.title }}</td>
        <td>{{ b.author }}</td>
        <td>{{ b.language }}</td>
        <td><app-book (remove)="remove(b)" [book]="b"></app-book></td>
      </tr>
    </tbody>
  </table>

  <p class="observacao">
    Procurou-se neste sitio obedecer as normas da escripta portugueza anteriores
    á mal inspirada
    <a href="https://pt.wikipedia.org/wiki/Reforma_Ortogr%C3%A1fica_de_1911">
      Reforma Orthographica de 1911
    </a>
  </p>
  <script src="scripts/main.js"></script>
</div>
